<!-- Global site tag (gtag.js) - Google Analytics -->

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117422701-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117422701-4', {'send_page_view': false});
        gtag('event', 'page_view',
            {'event_callback': function() {
                window.location.replace("{{ redirect_url }}");}
            });
    </script>
    <title>TEDxUWA Ticketing</title>
</head>

<body>
    redirecting to {{ redirect_url }}
</body>