<!-- Global site tag (gtag.js) - Google Analytics -->

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117422701-4"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117422701-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117422701-2');
        // redirect to page
        window.location = "{{ redirect_url }}";
    </script>
    <title>{{ title }}</title>
</head>